.main__wrapper
	main
		h1 The Basement Times
		aside 
			div
				.issue Issue #1 
				.date Tuesday, 31 May, 2021
				.edition First Edition

		h2.title--large.main-title The Basement Team's new website; daily news & blogs from devs
		.main-text.multi-column
				p Basement team recently announced their new website, it will be bringing dev news and daily cool blogs from the developers, developers who would like to take part of the blogs are welcome to join the team.
				p The website is hosted in github pages, and the source code is available on github. Currently maintained by the staff from the 
					em basement discord community.

				p The website is currently under construction, and will be updated regularly.
	
		.sidebar
			h3.title--big Hot this week
			
			a(href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank").codepen-item.pie
				img.pie__image(src="https://i.ibb.co/PxZb516/image.png")
				.pie__subtitle Food 
				.pie__content
					h4 Cookies for everyone!
					p No man is left behind. I've brought my cookie jar.
			
			a(href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank").sidebar-item.captcha
				h5 Cookie Addict Developer
				p From Tic Tac Toe to solving meme-based questions, this is a different take on cookies.